@media only screen and (max-width: 768px) {
    .hero-section {
        flex-direction: column;
    }

    .hero-text {
        text-align: center;
        width     : 100%;
    }

    .hero-text h1 {
        font-size: 40px;
    }

    .hero-img {
        width: 100%;
    }
}